<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Portofolio</title>
    <link rel="stylesheet" href="assets/css/app.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav>
        <div class="desktop">
          <ul>
            <li>
              <a href="#home"><i class="fas fa-home"></i></a>
            </li>
            <li>
              <a href="#experience"><i class="fas fa-tachometer-alt"></i></a>
            </li>
            <li>
              <a href="#project"><i class="fas fa-tasks"></i></a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main>
      <aside class="left">
        <div class="image">
          <img src="assets/img/nopal.jpg" alt="" />
        </div>
        <p>Software Egineer</p>
        <h2>Hi, I'm Muhammad Naufal Saputra</h2>
        <div class="social-media">
          <ul>
            <li>
              <a
                href="https://www.linkedin.com/in/muhammad-naufal-saputra-b6a8902a8/"
                target="_blank"
                ><i class="fab fa-linkedin-in"></i
              ></a>
            </li>
            <li>
              <a href="https://www.instagram.com/n0pal_06/" target="_blank"
                ><i class="fab fa-instagram"></i
              ></a>
            </li>
            <li>
              <a href="https://wa.me/6281381653386" target="_blank"
                ><i class="fab fa-whatsapp"></i
              ></a>
            </li>
          </ul>
        </div>
      </aside>
      <div class="content">
        <article id="home" class="container-home">
          <h1 class="left">
            Say Hi from <span class="nama">Muhammad Naufal Saputra</span>,
            Software Egineer
          </h1>
        </article>
        <article class="about right">
          <h1>About</h1>
          <p>
            Saya, Muhammad Naufal Saputra, adalah mahasiswa jurusan Sistem
            Informasi di Univeristas Bina Sarana Informatika. Saya seorang yang
            bersemangat dan berdedikasi tinggi dalam bidang pengembangan web.
            Dengan latar belakang pendidikan di bidang sistem informasi dan
            pengalaman dalam membuat berbagai jenis website, saya siap untuk
            menghadirkan solusi kreatif dan inovatif dalam pengembangan proyek
            web.
          </p>
          <section>
            <div class="kotak left">
              <i class="fas fa-graduation-cap"></i>
              <p>Bina Sarana Informatika</p>
            </div>
            <div class="kotak top">
              <i class="fas fa-map-marker-alt"></i>
              <p>Cikarang</p>
            </div>
            <div class="kotak right">
              <i class="fas fa-birthday-cake"></i>
              <p>06 Oktober 2004</p>
            </div>
          </section>
        </article>
        <article id="experience">
          <div class="title">
            <p>Explore My</p>
            <h1>Experience</h1>
          </div>
          <section class="experience">
            <div class="experience-content left">
              <h1>Frontend Development</h1>
              <div class="row">
                <div class="item">
                  <i class="far fa-check-circle"></i>
                  <div class="item-2">
                    <h2><i class="fab fa-html5"></i></h2>
                    <p>Advanced</p>
                  </div>
                </div>
                <div class="item">
                  <i class="far fa-check-circle"></i>
                  <div class="item-2">
                    <h2><i class="fab fa-css3"></i></h2>
                    <p>Advanced</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="item">
                  <i class="far fa-check-circle"></i>
                  <div class="item-2">
                    <h2><i class="fab fa-js-square"></i></h2>
                    <p>Elementary</p>
                  </div>
                </div>
                <div class="item">
                  <i class="far fa-check-circle"></i>
                  <div class="item-2">
                    <h2><i class="fab fa-bootstrap"></i></h2>
                    <p>Advanced</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="item">
                  <i class="far fa-check-circle"></i>
                  <div class="item-2">
                    <h2><i class="fab fa-php"></i></h2>
                    <p>Advanced</p>
                  </div>
                </div>
                <div class="item">
                  <i class="far fa-check-circle"></i>
                  <div class="item-2">
                    <h2><i class="fab fa-laravel"></i></h2>
                    <p>Advanced</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="experience-content right">
              <h1>Backend Development</h1>
              <div class="row">
                <div class="item">
                  <i class="far fa-check-circle"></i>
                  <div class="item-2">
                    <h2>Mysql</h2>
                    <p>Advanced</p>
                  </div>
                </div>
                <div class="item">
                  <i class="far fa-check-circle"></i>
                  <div class="item-2">
                    <h2>Git</h2>
                    <p>Internmediate</p>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </article>
        <article id="project">
          <div class="title">
            <p>Browse My Recent</p>
            <h1>Projects</h1>
          </div>
          <section class="column-project">
            <a
              href="https://github.com/Nopalss/BCL-Futsal"
              target="_blank"
              class="item-project top"
            >
              <div class="image-project">
                <img src="assets/img/bcl.png" alt="" />
              </div>
              <h3>Sistem Informasi Manajemen Pada Bcl Futsal</h3>
            </a>
            <a
              href="https://github.com/Nopalss/CV_Abadi-Tehnic"
              target="_blank"
              class="item-project right"
            >
              <div class="image-project">
                <img src="assets/img/ac.png" alt="" />
              </div>
              <h3>Company Profile CV. Abadi Technical</h3>
            </a>
            <a
              href="https://github.com/Nopalss/BCL-Futsal"
              target="_blank"
              class="item-project left"
            >
              <div class="image-project">
                <img src="assets/img/bcl2.png" alt="" />
              </div>
              <h3>Sistem Informasi Booking Lapagan Futsal Pada Bcl Futsal</h3>
            </a>
            <a
              href="https://github.com/Nopalss/abadi_Tech"
              target="_blank"
              class="item-project left"
            >
              <div class="image-project">
                <img src="assets/img/abadi.png" alt="" />
              </div>
              <h3>Company Profile CV. Abadi Technical 2</h3>
            </a>
          </section>
        </article>
      </div>
    </main>
    <footer class="bottom">
      <h1>Muhammad Naufal Saputra</h1>
      <div class="row">
        <div class="item inst">
          <a href="https://www.instagram.com/n0pal_06/" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
        <div class="item link">
          <a
            href="https://www.linkedin.com/in/muhammad-naufal-saputra-b6a8902a8/"
            target="_blank"
          >
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
        <div class="item wa">
          <a href="https://wa.me/6281381653386" target="_blank">
            <i class="fab fa-whatsapp"></i>
          </a>
        </div>
        <div class="item ema">
          <a
            href="mailto:muhammadnaufalsaputra06@gmail.com?subject=Hello&body=How are you?"
            target="_blank"
          >
            <i class="far fa-envelope"></i>
          </a>
        </div>
        <div class="item git">
          <a href="https://github.com/Nopalss" target="_blank">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </div>
      <div class="copy">
        <h2>&copy;MuhammadNaufalSaputra</h2>
      </div>
    </footer>

    <!-- scroll-reveal -->
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="assets/js/app.js"></script>
  </body>
</html>
